{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<form method="POST" hx-encoding='multipart/form-data' hx-post="{{url}}" hx-refresh="true" hx-swap="outer" id="form_create_update">
    {% csrf_token %}
    <div class="modal-header">
        <h4 class="modal-title">{{title}}</h4>
    </div>
    <div class="modal-body">
        {% include 'includes/form.html' %}
    </div>
    <div class="modal-footer">
        {% block custom_button %}
        {% endblock custom_button %}
        <button type="button" class="btn btn-default" data-bs-dismiss="modal">{% translate "Close" %}</button>
        <button type="submit" class="p-2 btn btn-primary">{% translate "Save" %}</button>
    </div>
</form>
